input[type="file"] {
    display: none;
}

img {
    width: auto;
    height: 100%;
}

.irl-profile-container {
    display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.irl-profile-container form {
    width: 80%;
}

.irl-profile-container input {
    text-align: center;
}

.irl-profile-name {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 40px;
color: #FFFFFF;
}

.irl-profile-name-input {
    display: inline-flex;
    margin: 6px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 40px;
color: #FFFFFF;
}

.irl-profile-handle {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #E5E5E9;

opacity: 0.52;
}

.irl-profile-handle-input {
    margin: 6px;
    display: inline-flex;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #E5E5E9;

opacity: 0.52;
}

.irl-profile-link-input {
    margin-top: 10px;
    box-sizing: content-box;

background: #222534;
border-radius: 12.84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.07em;
text-transform: uppercase;

color: #CBCBCB;
}

.irl-profile-link {
    margin-top: 10px;
    box-sizing: content-box;
    padding: 10px;

background: #222534;
border-radius: 12.84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.07em;
text-transform: uppercase;

color: #CBCBCB;
}

.irl-profile-save {
    box-sizing: border-box;
background: #0777E8;
border-radius: 14px;

/* Save changes */
height: 40px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

.irl-profile-edit {
    box-sizing: border-box;
border: 0.737037px solid #444A5E;
border-radius: 29.4815px;

/* Save changes */
height: 40px;
padding-top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
/* identical to box height */
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}

.custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    border-color: white;
}

.irl-profile-img-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
